@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Patrick+Hand+SC&display=swap");
* {
  font-family: "Klee One", cursive;
  font-family: "Patrick Hand SC", cursive;
}
ul {
  display: flex;
  flex-direction: column;
}
