

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', cursive;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
}
.logo {
  cursor: pointer;
  /* width: auto;
  height: auto; */
  text-align: center;
}
button {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 15px;
  background-color: tomato;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}
