@import url("https://fonts.googleapis.com/css2?family=Alice&family=Fredoka+One&family=Handlee&family=Klee+One:wght@600&family=M+PLUS+Rounded+1c&family=Mitr:wght@300&family=Patrick+Hand+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
}
.logo {
  cursor: pointer;
  /* width: auto;
  height: auto; */
  text-align: center;
}
button {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 15px;
  background-color: tomato;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}
