@import url("https://fonts.googleapis.com/css2?family=Alice&family=Fredoka+One&family=Handlee&family=Klee+One:wght@600&family=M+PLUS+Rounded+1c&family=Mitr:wght@300&family=Patrick+Hand+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  text-align: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  /* background-image: url(https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: "Alice", serif;
  font-family: "Fredoka One", cursive;
  font-family: "Handlee", cursive;
  font-family: "Klee One", cursive;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Mitr", sans-serif;
  font-family: "Patrick Hand SC", cursive;
}
.wrapper {
  display: flex;
  width: 100vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 80vh;
  height: 60vh;
}
#logo {
  cursor: pointer;
  /* width: auto;
  height: auto; */
  text-align: center;
}
button {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 15px;
  background-color: tomato;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}
