@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Patrick+Hand+SC&display=swap");

.wrapper {
  display: flex;
  /* width: 100vh;
  height: 100vh; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Klee One", cursive;
  font-family: "Patrick Hand SC", cursive;
}
input{
  display: flex;
  /* width: 100vh;
  height: 100vh; */
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
}
button{
  font-family: "Klee One", cursive;
  font-family: "Patrick Hand SC", cursive;
  border: none;
  border-radius: 10px;
  background-color: rgb(250, 248, 128);
}